<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="m2bitcoinpayment_connection_test" frontName="m2bitcoinpayment">
            <module name="VladFilimon_M2BitcoinPayment" />
        </route>
    </router>
</config>  
